PORT=5000
JWT_SECRET=replace_with_a_strong_random_secret_string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/smartcampus?retryWrites=true&w=majority
PUBLIC_VAPID_KEY=replace_with_your_generated_public_key
PRIVATE_VAPID_KEY=replace_with_your_generated_private_key
